extends  ../layout

block content
    link(rel='stylesheet',href='/css/detail.css')
    .container
        .row
                .col-md-5.col-sm-5
                    img(src="/images/book/"+book.poster,alt=book.title,style='height:400px;width:500px')
                .col-md-5.col-sm-5(style="font-size:30px")
                    dl.dl-horizontal
                        dt 书籍名称
                        dd #{book.title.replace(/\s/g,'')}
                        dt 作者
                        dd #{book.auther}
                        dt 国家
                        dd #{book.country}
                        dt 类型
                        dd #{book.category}
                        dt 发布年份
                        dd #{book.year}
                        dt 价格
                        dd #{book.price}元                    
                        dd
                            a.btn.btn-primary.btn-m.addcar(data-title=book.title) 加入购物车
        dt 简介
        dd #{book.summary}
    .container(style='margin-top:20px')
        .row
            .col-md-7.col-sm-7

                if(user)
                    form.form-horizontal
                        input(type='hidden',name='comment[bookId]',value=book._id)
                        input(type='hidden',name='comment[from]',value=user._id)
                        .form-group
                            label.control-label(for='commentContent') #{user.name}:
                            textarea#commentContent.form-control(style='height:80px',name='comment[content]')
                        .form-group
                            p.pull-right
                                    button.btn.btn-primary.submitComment 提交评论
                else
                    h4 请先登录再发表评论
        hr

        .row.sample
            .col-md-7
                a.userCommentHead
                .card
                    h5.card-title
                        a admin
                    p.card-text Nice!
                    .card-block
                        span.commentDate 2017-8-19
                        a.like.fa.fa-thumbs-up 赞(0)
                        span.commentId
                        a.comment.fa.fa-comment 添加评论
                    i.fa.fa-angle-up
                    .subComments
                        form.subComment.form
                            .form-group
                                input.form-control(type='text',placeholder='说点什么吧。。。',max-length=50)
                            .form-group
                                button.subComment-cancel 取消
                                button.subComment-submit.btn.btn-primary 评论

                hr

        .card.subComment-sample
            a.userCommentHead
            h5.card-title
                a
            p.card-text
            .card-block
                span.commentDate
                a.like.fa.fa-thumbs-up 赞(0)
                span.commentId


        each comment in comments
            .row
                .col-md-7
                    a.userCommentHead(style=`background-image:url(${comment.from.headpath})`,href=`/user/${comment.from._id}`,target='_blank')
                    .card
                        h5.card-title
                            a(href=`/user/${comment.from._id}`,target='_blank') #{comment.from.name}
                        p.card-text #{comment.content}
                        .card-block
                            span.commentDate #{moment(comment.createAt.toString()).format('YYYY-MM-DD HH:mm:ss')}
                            if(comment.commented)
                                a.like.fa.fa-thumbs-up 取消赞(#{comment.likes})
                            else
                                a.like.fa.fa-thumbs-up 赞(#{comment.likes})
                            span.commentId #{comment._id}
                            if(comment.comments)
                                a.comment.fa.fa-comment 评论(#{comment.comments})
                            else
                                a.comment.fa.fa-comment 添加评论

                        i.fa.fa-angle-up
                        .subComments
                            form.subComment.form
                                .form-group
                                    input.form-control(type='text',placeholder='说点什么吧。。。',max-length=50)
                                .form-group
                                    button.subComment-cancel 取消
                                    button.subComment-submit.btn.btn-primary 评论
                    hr


    script(src='/js/Comment.js')









